<div class="apps-main text-center">
    <img src="../assets/8planets-image.png">
    <h1>8Planets</h1>
    <p><b>8Planets</b> is a simple viewer and simulator for planetary orbits in our Solar System.</p>
    <p><b>8Planets</b> helps you discover how the planets aligned and move around over time so that you feel the scale of the Solar System or even the Universe. By giving you quick and easy access to the Solar System everywhere, <b>8Planets</b> will make you feel that the Solar System is close to us.</p>
    <p>It's now available in public beta. With TestFlight is installed, open <a href="https://testflight.apple.com/join/0VgyZIlt">this link</a>.</p>
</div>

<div class="apps-features text-center">
    <div class="row">
        <div class="col-sm">
            <h2>Planetary Motion</h2>
            <p>Speed up or slow down time to see how the planets rotate over time and grasp the scale of the Solar System.</p>
        </div>
        <div class="col-sm">
            <h2>Time Travel</h2>
            <p>Travel back or forward in time to view the Solar System or planetary positions on any given date.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Widgets</h2>
            <p>Widgets allow you to display the real-time Solar System on your Home Screen.</p>
        </div>
        <div class="col-sm">
            <h2>Watch</h2>
            <p>View the Solar System on your wrist and use Digital Crown to travel back or forward in time.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <h2>Others</h2>
            <p>Apple Watch Complications, Overview of the planets, Option to show Pluto, Sharing your favorite moment of the Solar System, URL Scheme, and more.</p>
        </div>
    </div>
</div>
