<div class="apps-main text-center">
    <img src="../assets/8planets.png" width="80%">
    <h1>8Planets</h1>
    <p><b>8Planets</b> is a simple viewer and simulator for planetary orbits in our Solar System.</p>
    <p><b>8Planets</b> helps you discover how the planets aligned and move around over time so that you feel the scale of the Solar System or even the Universe. By giving you quick and easy access to the Solar System everywhere, the app will make you feel that the Solar System is close to us. The apps are available on Mac, iPhone, iPad, and Apple Watch.</p>
    
    <a style="text-decoration:none" href="{{ site.links.app_store }}" target="_blank">
        <img src="../assets/app-store-badge.svg">
    </a>
    <a style="text-decoration:none" href="{{ site.links.mac_app_store }}" target="_blank">
        <img src="../assets/mac-app-store-badge.svg">
    </a>
    <p>
        <img src="https://tools-qr-production.s3.amazonaws.com/output/apple-toolbox/2df7ed14231be1c5ba1b75ab80c64edc/94fba87d-2e8f-4387-a64d-814d2ca0c7e8.png" style="width: 140px; height: 140px;">
        <img src="https://tools-qr-production.s3.amazonaws.com/output/apple-toolbox/cf9c0c231dc94647613e2e96f2ffca8e/068f0eea-794e-4e23-849a-20fab699f120.png" style="width: 140px; height: 140px;">
    </p>
    <p>You can try 8Planets for free if you visit this site from your iOS device and tap “VIEW” from the top banner. Note that these apps are different so you need to purchase them separately if you want both.</p>
    <p>
        <a href="https://www.producthunt.com/posts/8planets?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-8planets" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=289076&theme=dark" alt="8Planets - A simple viewer for planetary orbits in our Solar System | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>
    </p>
</div>

<div class="apps-features text-center">
    <div class="row">
        <div class="col-sm">
            <h2>Planetary Motion</h2>
            <p>Speed up or slow down time to see how the planets rotate over time and grasp the scale of the Solar System.</p>
        </div>
        <div class="col-sm">
            <h2>Time Travel</h2>
            <p>Travel back or forward in time to view the Solar System or planetary positions on any given date.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <h2>Widgets</h2>
            <p>Widgets allow you to display the real-time Solar System on your iOS Home Screen and macOS Widgets for Notification Center.</p>
        </div>
        <div class="col-sm">
            <h2>Watch</h2>
            <p>View the Solar System on your wrist and use Digital Crown to travel back or forward in time.</p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <h2>And more...</h2>
            <p>Apple Watch Complications, Overview of the planets, Option to show Pluto, Sharing your favorite moment of the Solar System, URL Scheme, and more.</p>
        </div>
    </div>
    <p>
        <a href="https://twitter.com/8planetsapp?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-size="large" data-show-count="false">Follow @8planetsapp</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </p>
</div>
